<img src='<%=project.escape("image_url")%>'>

<div class="index-project-info">
	<!-- <a href='#/projects/<%= project.id %>'> -->
	  <div class='project-name'>        
	    <%= project.escape('name') %>
	  </div>
	<!-- </a> -->
	<div class='project-description'> 
	  <% var desc = project.escape('description') %>  
	  <% if (desc.length < 250) { %>     
	    <%= desc %>
	  <% } else { %>
		<%= desc.slice(0, 249) + "..."%>  
	  <% } %>	
	</div>
	
	<div class="progress-wrap progress index" data-progress-fraction=".78">
	  <div class="progress-bar progress index"></div>
	</div>
	
	<div class="info-under-progress-bar">
		<div class="percent-funded">
			<% var frac = project.donationTotal / project.escape('goal') %>
			<h4><%=Math.floor(frac * 100)%>%</h4>
			<h6>funded</h6>
		</div>
		<div class="donation-goal">
			<h4>$<%=project.escape('goal')%></h4>
			<h6>goal</h6>
		</div>
		<div class="days-to-go">
			<h4>9</h4>
			<h6>days to go</h6>
		</div>
	</div>
</div>
