<div class='project-header'>
    <%= project.escape('name') %>
</div>

<div id="column-container">
	<div class='project-info left'>
		<div class="project-image">
			<img src='<%=project.escape('image_url')%>'></img>
		</div>	

		<div id="description">
			<h4><%= project.escape('description') %></h4>
		</div>
	</div>


	<div class='project-info right'>
	  <div id="goal">
		  <h3>Goal: $<%=project.escape('goal')%></h3>
	  </div>

	  <!-- <div id="location"> -->
	    <!-- <h4><%= project.escape('location') %></h4> -->
	  <!-- </div> -->
  

  
	  <div id="deadline">
		<div id="days-left"><%= daysLeft %></div>
		  days to go  
	  </div> 
  
	  <button id="donate" class="btn btn-default">Back This Project!</button>
	</div>
</div>
