<div class='project-header'>
    <%= project.escape('name') %>
</div>

<div id="column-container">
	<div class='project-info left'>
		<div class="project-image">
			<img src='<%=project.escape('image_url')%>'></img>
		</div>	

		<div id="description">
			<h4><%= project.escape('description') %></h4>
		</div>
	</div>


	<div class='project-info right'>
	  <div id="goal">
		  Goal: $<%=project.escape('goal')%>
	  </div>

	  <!-- <div id="location"> -->
	    <!-- <h4><%= project.escape('location') %></h4> -->
	  <!-- </div> -->
  

  
	  <div id="deadline">
		<div id="number-days"><%= daysLeft %></div>
		<div id="days-to-go">days to go</div>  
	  </div> 
  
	  <button id="donate" class="btn btn-default">Back This Project!</button>
	  
	  <div id="rewards-index">

	  </div>	  
	</div>
</div>
