<div class='project-header'>
  <h2><%= project.escape('name') %></h4>
</div>

<div class='project-info'>
  <div id="goal">
	  <h3>Goal: $<%=project.escape('goal')%></h3>
  </div>

  <div id="location">
    <!-- <h4><%= project.escape('location') %></h4> -->
  </div>
  
  <div id="description">
    <h4><%= project.escape('description') %></h4>
  </div>
  
  <div id="deadline">
	<div id="days-left"><%= daysLeft %></div>
	days to go  
  </div> 
</div>

<button id="donate" class="btn btn-default">Back This Project!</button>