<ul class="nav nav-pills">
    <li id="logo"><a href="/">ClickStarter</a></li>
    <li id="discover"><a href="/#projects">Discover</a></li>
	
	<% if logged_in? %>
	
	<li id="start"><a href="#/projects/form">Start</a></li>

	<li role="presentation" class="dropdown pull-right">
	  <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button"        aria-expanded="false">
	    My Profile <span class="caret"></span>
	  </a>
	  <ul class="dropdown-menu" role="menu">
		  
		<li id="my-projects">
			<h4>My Projects:</h4>
			<% if current_user.backed_projects.length > 0 %>
				<% current_user.projects.each do |project| %>
					<a href='#/projects/<%=project.id%>'>
						<%= project.name %>
					</a>
				<% end %>
			<% else %>
				<h5>(none yet)</h5>
			<% end %>
		</li>
		</br>
		
		<li id="backed-projects">
			<h4>Backed Projects:</h4>
			<% if current_user.backed_projects.length > 0 %>
				<% current_user.backed_projects.each do |project| %>
					<a href='#/projects/<%=project.id%>'>
						<%= project.name %>
					</a>
				<% end %>
			<% else %>
				<h5>(none yet)</h5>
			<% end %>	
		</li>
		<br>
		
		<li class="divider"></li>
		
  	    <li id="sign-out">
  	      <%= button_to "Sign Out", session_url, :method => :delete, class: "btn btn-default" %>
        </li>
		
	  </ul>
	</li>

  
    <% else %>
  
    <li class="pull-right" id="sign-in">
      <%= link_to "Sign In", new_session_url %>
    </li>
    <li class="pull-right" id="sign-up">
      <%= link_to "Sign Up", new_user_url %>
    </li>
  
	<% end %>
	
</ul>

